{% extends "base.html" %}
{% load static %} 
{% load crispy_forms_tags %}
{% block content %}
<br>
<div class="container">
    <form method="POST">
        {%csrf_token%}
        <div class="row">
            <div class="col-6">
                {{form.department_name|as_crispy_field}}
            </div>
            <div class="col-6">
                {{form.department_dec|as_crispy_field}}
            </div>
        </div>

        <button type="submit" class="btn btn-primary btn-lg btn-block">Create Department</button>
    </form>
</div>

{%endblock content%}