{% extends "base.html" %}
{% load static %}
{% block content %}

<link href="{% static 'css/list.css' %}" rel="stylesheet" />
<br>
<div class="ml-4" style="margin-left: auto;">
    <a href="/leaves/employee_leaves/add">
        <button id="add_btn" type="button" style="margin-bottom: 20px;" class="btn btn-primary">Create Employee Leave</button>
    </a>
</div>

<div class="card mb-4">
    <div class="card-header"><i class="fas fa-table mr-1"></i>Employees Leaves</div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
 <tr>
    <th>Employee Name</th>
    <th>Leave start Date</th>
    <th>Leave End Date</th>
    <th>Resume Date</th>
    <th>Number Of Days</th> 
    <th>Leave Type</th>
    <th>Confim</th>
    <th colspan="2">Actions</th>
                       


</tr>
</thead>
<tbody>
{%for emp in all_leaves_requests%}
<tr>
    <td>{{emp.emp_id.username}}</td>
    <td>{{emp.start_date}}</td>
    <td>{{emp.end_date}}</td>
    <td>{{emp.resume_date}}</td>
    <td>{{emp.calculate_number_of_days}} days</td>
    <td>{{emp.leave_id}}</td>
 <td class="d-flex justify-content-around">
                            <form action="/leaves/employee_leaves/{{emp.id}}/approved/" class="inline">
                                <button class="btn float-left btn-primary ">Approve</button>
                            </form>
                            <form action="/leaves/employee_leaves/{{emp.id}}/not_approved/" class="inline">
                                <button class=" btn float-right btn-danger ">Not Approve</button>
                            </form>
                        </td>
</tr>
{%endfor%}
                </tbody>
            </table>
        </div>
    </div>
</div>

{%endblock content%}





